<!DOCTYPE html>
<html lang="en">
<head>
    <title>WordBank App to Learn Vocabulary</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="WordBank" ng-controller="MainCtrl">

<form ng-submit="addTerm()">
    <input type="text" ng-model="newEntry">
    <button type="submit">+</button>
</form>
<div ng-repeat="term in terms | orderBy: orderProp">
    {{term.word}} : {{term.definition}}
</div>

</body>
</html>